@use '../base/_utilities'
@use '../base/_variables'

.container-results
    @include utilities.container-style
    text-align: center

    &-box
        &-header
            margin-bottom: 20px
            display: flex
            align-items: center

        &-word
            font-size: 1.6rem
            margin-left: 20px
            font-weight: bold
            font-style: italic
            letter-spacing: 1px

            &-title
                margin-left: 20%

            .definition
                padding: 0 15px
                text-align: left
                letter-spacing: 1px
                line-height: 110%
                margin-bottom: 20px
                position: relative

                &:before
                    content: ''
                    width: 15px
                    height: 15px
                    border-radius: 50%
                    background: variables.$primary-color
                    position: absolute
                    left: -7px
                    top: 3px
