* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Arial";
}

a {
  text-decoration: none;
  color: #0C0C0C;
}

p {
  color: #0C0C0C;
}

ion-icon {
  cursor: pointer;
}

@keyframes link-after-animation {
  from {
    width: 10px;
  }
  to {
    width: 180px;
  }
}
@keyframes link-after-animation-small {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@keyframes arrow-animation-close {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes arrow-animation-open {
  0% {
    transform: translateX(0px) rotate(180deg);
  }
  50% {
    transform: translateX(5px) rotate(180deg);
  }
  100% {
    transform: translateX(0px) rotate(180deg);
  }
}
@keyframes arrow-animation-left {
  0% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(0px);
  }
  95% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(-2px);
  }
}
@keyframes arrow-animation-rigth {
  0% {
    transform: translateX(0px) rotate(180deg);
  }
  90% {
    transform: translateX(0px) rotate(180deg);
  }
  95% {
    transform: translateX(5px) rotate(180deg);
  }
  100% {
    transform: translateX(2px) rotate(180deg);
  }
}
#header {
  position: fixed;
  width: 300px;
  background: rgba(227, 245, 236, 0.8431372549);
  height: 100%;
  transition: 0.5s;
  box-shadow: 0 0px 10px 2px #49D48A;
}
@media (max-width: 300px) {
  #header {
    width: 220px;
  }
}
#header.close {
  width: 80px;
}
@media (max-width: 300px) {
  #header.close {
    width: 50px;
  }
}
#header .logo-container {
  display: flex;
  align-items: center;
  padding: 30px 5px;
  gap: 15px;
}
@media (max-width: 400px) {
  #header .logo-container {
    justify-content: center;
    padding: 20px 5px;
  }
}
#header .logo-container.small {
  padding: 20px 0;
}
#header .logo-container.small .logo {
  width: 80px;
  height: 80px;
}
#header .logo-container.small .company-name {
  opacity: 0;
  width: 0;
  position: absolute;
  transition: none !important;
}
#header .logo-container .logo {
  width: 60px;
  height: 60px;
}
@media (max-width: 400px) {
  #header .logo-container .logo {
    display: none;
  }
}
#header .logo-container .company-name {
  font-size: 2.5rem;
  transition: 3s;
}
#header .menu-control {
  float: right;
  transform: translateX(18px);
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  color: #fff;
  background: #49af24;
}
#header .menu-control:hover {
  background: #49D48A;
  transform: translateX(18px) scale(1.08);
}
#header .menu-control .icon {
  display: block;
  font-size: 25px;
  padding: 5px 6px;
  font-weight: bolder;
  transition: 0.5s;
  animation: arrow-animation-left 3s infinite linear;
}
#header .menu-control .icon:hover {
  animation: arrow-animation-close 0.6s infinite linear;
}
#header .menu-control .icon.rotate {
  animation: arrow-animation-rigth 3s infinite linear;
}
#header .menu-control .icon.rotate:hover {
  animation: arrow-animation-open 0.6s infinite linear;
}
#header .container {
  width: 100%;
}
#header .container .search-area {
  display: flex;
  justify-content: center;
  align-itens: center;
  margin-top: 50px;
  width: 100%;
  position: relative;
}
#header .container .search-area.small {
  display: block;
}
#header .container .search-area.small .search-button {
  display: none;
}
#header .container .search-area.small .search-icon {
  border: none;
  cursor: pointer;
  font-size: 32px;
  position: relative;
  margin-left: 14px;
  transition: 0.3s;
  color: #49af24;
}
@media (max-width: 300px) {
  #header .container .search-area.small .search-icon {
    margin-left: 3px;
  }
}
#header .container .search-area.small .search-icon:hover {
  transform: scale(1.2);
  color: #49D48A;
}
#header .container .search-area.small input {
  display: none;
}
#header .container .search-area .search-button {
  background: #49D48A;
  border: none;
  width: 30px;
  font-size: 20px;
  color: #fff;
  border-radius: 0 10px 10px 0;
  transition: 0.3s;
  cursor: pointer;
}
#header .container .search-area .search-button:hover {
  background: #49af24;
}
#header .container .search-area .search-icon {
  font-size: 20px;
  cursor: default;
  position: absolute;
  top: 5px;
  left: 13%;
  padding-right: 5px;
  border-right: 1px solid #49D48A;
  color: #49D48A;
}
#header .container .search-area input {
  width: 70%;
  height: 30px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #49D48A;
  padding-left: 40px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #226e06;
}
#header .container .search-area input:focus {
  outline: none;
}
#header .container .menu {
  margin-top: 80px;
  padding-left: 30px;
}
@media (max-width: 400px) {
  #header .container .menu {
    margin-top: 20px;
  }
}
#header .container .menu.small {
  width: 100%;
  margin-top: 50px;
  padding: 0;
}
#header .container .menu.small ul {
  gap: 20px;
}
#header .container .menu.small ul li {
  display: flex;
  justify-content: center;
  align-itens: center;
  padding: 0;
  padding-bottom: 5px;
  margin: 0 auto;
  border: none;
  width: 60%;
}
#header .container .menu.small ul li:after {
  width: 100%;
  height: 2px;
  left: 0;
}
#header .container .menu.small ul li:hover::after {
  animation: link-after-animation-small 0.2s linear;
}
#header .container .menu.small ul li:hover {
  transform: scale(1.1);
}
#header .container .menu.small ul li ion-icon {
  font-size: 20px;
}
#header .container .menu.small ul li .link-text {
  opacity: 0;
  width: 0;
  position: absolute;
  transition: none !important;
}
#header .container .menu ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#header .container .menu ul li {
  display: flex;
  width: 80%;
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  position: relative;
  transition: 0.3s;
}
#header .container .menu ul li:after {
  content: "";
  display: none;
  position: absolute;
  width: 180px;
  height: 3px;
  background: #49D48A;
  left: 5px;
  bottom: -5px;
}
@media (max-width: 300px) {
  #header .container .menu ul li:after {
    width: 100%;
  }
}
#header .container .menu ul li:hover .link ion-icon {
  color: #49D48A;
}
#header .container .menu ul li:hover:after {
  display: block;
  animation: link-after-animation 0.3s ease-in;
}
#header .container .menu ul li .link {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid transparent;
  align-items: center;
}
#header .container .menu ul li .link ion-icon {
  font-size: 25px;
}
#header .container .menu ul li .link .link-text {
  transition: 1s;
  font-size: 2rem;
}
#header .container-user {
  display: flex;
  justify-content: center;
  align-itens: center;
  position: absolute;
  bottom: 70px;
  border-top: 5px solid #49D48A;
  border-bottom: 3px solid #49D48A;
  width: 100%;
  height: 200px;
}
@media (max-width: 400px) {
  #header .container-user {
    height: 180px;
  }
}
@media (max-width: 400px) {
  #header .container-user.small {
    height: 130px;
  }
}
@media (max-width: 300px) {
  #header .container-user.small .avatar {
    margin: 10px 0;
  }
}
#header .container-user.small .logout {
  margin: 0;
}
#header .container-user.small p {
  opacity: 0;
  width: 0;
  position: absolute;
  transition: none !important;
}
#header .container-user-infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#header .container-user-infos .avatar {
  margin: 20px 5px;
  border-radius: 50%;
  border: 3px solid #49D48A;
  width: 55px;
  height: 55px;
  text-align: center;
}
@media (max-width: 300px) {
  #header .container-user-infos .avatar {
    width: 45px;
    height: 45px;
  }
}
#header .container-user-infos .avatar img {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}
@media (max-width: 300px) {
  #header .container-user-infos .avatar img {
    width: 40px;
    height: 40px;
  }
}
#header .container-user-infos .user-data {
  margin: -10px 0 20px 0;
}
#header .container-user-infos .user-data .name, #header .container-user-infos .user-data .email {
  font-size: 1.5rem;
  font-weight: bold;
  transition: 1.5s;
}
#header .container-user-infos .user-data .name {
  margin-bottom: 5px;
}
#header .container-user-infos .logout {
  color: #ca1b1b;
  padding: 5px;
  transition: 0.3s;
}
#header .container-user-infos .logout:hover {
  color: #ca1b1b;
}
#header .container-user ion-icon {
  font-size: 30px;
}
#header .container-user ion-icon:hover {
  transform: scale(1.2);
}
#header .container .settings {
  display: flex;
  justify-content: center;
  align-itens: center;
  width: 100%;
  gap: 20px;
  position: absolute;
  bottom: 18px;
}
#header .container .settings.small {
  gap: 5px;
}
#header .container .settings ion-icon {
  font-size: 30px;
  transition: 0.3s;
}
#header .container .settings ion-icon:hover {
  transform: scale(1.2);
  color: #49D48A;
}

/*# sourceMappingURL=style.css.map */
