@use 'variables'
@use 'utilities'

.container-game
    display: block
    width: 100%
    max-width: 500px
    text-align: center
    position: relative

    &.hidden
        display: none

    &-settings
        font-size: 35px
        position: absolute
        right: 10px
        top: 12px

        .btn-options
            cursor: pointer
            transition: .3s

            &:hover
                transform: scale(1.2)

            &.hidden
                display: none

        .container-options
            display: flex
            flex-direction: column
            width: 200px
            background: #000000d3
            padding: 20px 10px
            border-radius: 15px
            z-index: 10
            position: absolute
            right: 0
            top: 10px

            &.hidden
                display: none

            .close-options
                position: absolute
                right: 10px
                top: 10px
                cursor: pointer
                border: 1px solid transparent
                transition: .3s
                border-radius: 50%

                &:hover
                    border-color: #fff

            &-sounds
                font-size: 30px
                @include utilities.center-elements

                .sound, .sound-muted
                    padding: 5px
                    border-radius: 50%
                    border: 1px solid #fff
                    cursor: pointer
                    transition: .3s
                    &:hover
                        transform: scale(1.1)

                .sound
                    &.hidden
                        display: none

                .sound-muted
                    &.hidden
                        display: none

            .container-volume
                margin-top: 10px
                display: flex
                flex-direction: column
                gap: 10px
                width: 100%

                &.hidden
                    display: none

                label
                    font-size: 16px

                .volume-controller
                    margin: 0 auto
                    width: 160px
                    cursor: pointer

    &-upper
        margin-top: 50px
        width: 100%

        h1
            @include utilities.title-style

        hr
            margin: 20px 0

        .view-level
            position: absolute
            top: 65px
            right: 10px
            font-family: 'arial', sans-serif
            font-size: 20px

            #level
                font-size: 20px
                font-family: 'arial', sans-serif

        &-word

            font-family: 'Rubik', sans-serif
            letter-spacing: 2px

            .word-display
                @include utilities.center-elements
                margin: 20px 0
                gap: 10px

                .circle
                    @include utilities.center-elements
                    font-size: 20px
                    font-weight: bold
                    width: 32px
                    height: 32px
                    background: #fff
                    font-family: 'arial', sans-serif
                    border-radius: 50%
                    color: #000

    &-keyboard
        margin-top: 25px
        @include utilities.center-elements
        flex-direction: column

        .table-vowels, .table-letters
            tr
                display: grid

                .keyboard-letter
                    min-width: 50px
                    min-height: 50px
                    background: #0000009f
                    border: 1px solid variables.$primary-color
                    border-radius: 10px
                    color: variables.$primary-color
                    font-weight: bold
                    font-size: 18px
                    transition: .3s

                    &.clicked
                        @include utilities.drop-animation

                        &.hidden
                            animation: none
                            display: none

                    &:hover
                        background: transparent
                        transform: scale(1.1)

        .table-letters
            width: 80%
            margin-top: 20px
            tr
                gap: 2px
                grid-template-columns: repeat(7, 14%)
                margin-bottom: 10px

        .table-vowels
            width: 55%
            tr
                gap: 2px
                grid-template-columns: repeat(5 , 20%)
