//  Mixins
@mixin title-animation
    animation: menuIn-animation 1s ease-in reverse

@mixin menuIn-animation
    animation: menuIn-animation .8s ease-in

//  Animations 

@keyframes menuIn-animation
    0%
        opacity: 0
        transform: translateX(100%)

    20%
        transform: translateX(20px)

    100%
        opacity: 1
        transform: translateX(0)
