@use 'reset'

#header
    position: fixed
    width: 300px
    background: #e2dfdf
    height: 100%
    transition: .5s

    &.close
        width: 80px

    .logo-container
        display: flex
        padding: 30px 5px
        align-items: center
        gap: 5px

        &.small
            padding: 20px 0
            .logo
                width: 80px
                height: 80px

            .company-name
                display: none

        .logo
            width: 60px
            height: 60px

        .company-name
            text-align: center
            font-size: 2.5rem

    .menu-control
        float: right
        transform: translateX(18px)
        border: none
        border-radius: 50%
        transition: .3s

        &:hover
            background: #397aa0
            transform: translateX(18px) scale(1.1)
            color: #fff

        .icon
            display: block
            font-size: 25px
            padding: 5px 6px
            font-weight: bolder
            transition: .5s

            &.rotate
                transform: rotate(180deg)

    .container
        width: 100%

        .search-area
            margin-top: 50px
            width: 100%
            display: flex
            justify-content: center
            position: relative

            &.small
                display: block

                .search-icon
                    border: none
                    cursor: pointer
                    font-size: 30px
                    position: relative
                    margin-left: 13px
                    transition: .3s

                    &:hover
                        transform: scale(1.2)

                input
                    display: none

            .search-icon
                font-size: 20px
                cursor: default
                position: absolute
                top: 5px
                left: 16%
                padding-right: 5px
                border-right: 1px solid #000

            input
                width: 100%
                height: 30px
                border-radius: 10px
                border: 1px solid #000
                padding-left: 40px

                &:focus
                    outline: none

        .menu
            margin-top: 80px
            padding-left: 30px

            &.small
                width: 100%
                margin-top: 50px
                padding: 0

                ul
                    gap: 20px

                    li
                        padding: 0
                        padding-bottom: 5px
                        margin: 0 auto
                        border: none
                        width: 60%
                        justify-content: center
                        transition: .3s

                        &:hover
                            transform: scale(1.3)

                        ion-icon
                            font-size: 20px

                        .link-text
                            display: none

            ul
                display: flex
                flex-direction: column
                gap: 5px

                li
                    display: flex
                    width: 80%
                    list-style: none
                    padding: 10px 20px
                    cursor: pointer
                    border-bottom: 1px solid transparent

                    &:hover
                        border-color: #000

                    .link
                        display: flex
                        gap: 10px
                        border-bottom: 1px solid transparent

                        ion-icon
                            font-size: 20px
                            color: #000

                        .link-text
                            color: #000
                            font-size: 1.8rem

        &-user
            position: absolute
            bottom: 70px
            border-top: 1px solid #000
            border-bottom: 1px solid #000
            width: 100%

            &.small
                .container-user-infos
                    justify-content: center
                    flex-direction: column

                    .logout
                        margin: 0

                    p
                        display: none

            &-infos
                display: flex
                align-items: center

                .avatar
                    margin: 20px 5px
                    border-radius: 50%
                    border: 3px solid #000
                    width: 55px
                    height: 55px
                    text-align: center

                    img
                        width: 50px
                        height: 50px
                        border-radius: 50%

                .user-data
                    margin-left: 5px

                    .name, .email
                        font-size: 1.5rem
                        font-weight: bold

                    .name
                        margin-bottom: 5px

                .logout
                    margin-left: auto
                    margin-right: 5px
                    color: #ca1b1b
                    padding: 5px
                    transition: .3s

                    &:hover
                        color: #ca1b1b

            ion-icon
                font-size: 30px

                &:hover
                    transform: scale(1.2)
                    color: #000000c2

        .settings
            width: 100%
            gap: 20px
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            bottom: 18px

            ion-icon
                font-size: 30px
                transition: .3s

                &:hover
                    transform: scale(1.2)
