@font-face {
  font-family: "PlusJakarta";
  src: url(".././fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: "PlusJakarta";
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: hsl(210, 60%, 98%);
}
@media (max-width: 685px) {
  body {
    display: block;
  }
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
  font-family: "PlusJakarta";
}

.container {
  background: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3960784314);
  height: 76rem;
  width: 73rem;
}
@media (max-width: 685px) {
  .container {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 375px) {
  .container {
    border-radius: 0;
    padding: 20px 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.header-title {
  font-size: 2.1rem;
}
.header-notifications-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 5px;
  width: 30px;
  height: 25px;
  background: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1.6rem;
}
.header-button {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: hsl(219, 12%, 42%);
  margin-left: auto;
  transition: 0.3s;
}
.header-button:hover {
  color: hsl(219, 85%, 26%);
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: #00f;
  text-decoration: underline;
}
.attribution a:hover {
  color: #6464f5;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.body .notification {
  display: flex;
  background: none;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}
@media (max-width: 685px) {
  .body .notification {
    padding: 10px 5px;
    gap: 10px;
  }
  .body .notification:nth-child(5) .notification-content {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  .body .notification:nth-child(5) .notification-content-image {
    margin-top: 0;
    margin-left: 5px;
  }
  .body .notification:nth-child(5) .notification-content-date {
    grid-area: 2/1;
  }
}
.body .notification-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-self: start;
}
.body .notification-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.body .notification-content-text {
  color: hsl(219, 12%, 42%);
}
.body .notification-content-text .name:hover, .body .notification-content-text .highlight:hover {
  cursor: pointer;
  color: hsl(219, 85%, 26%);
}
.body .notification-content-text .name {
  color: hsl(224, 21%, 14%);
  font-weight: bolder;
}
.body .notification-content-text .highlight {
  font-weight: bolder;
  color: hsl(219, 14%, 63%);
}
.body .notification-content-text .link {
  font-weight: bolder;
  color: hsl(219, 85%, 26%);
}
.body .notification-content-date {
  font-size: 1.4rem;
  color: hsl(219, 12%, 42%);
}
.body .notification-content-image {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-left: auto;
  margin-top: -45px;
}
.body .notification-content-textarea {
  border-radius: 10px;
  margin-top: 10px;
  height: 100px;
  border: 1px solid hsl(205, 33%, 90%);
  color: hsl(219, 12%, 42%);
  font-size: 1.6rem;
  padding: 20px;
}
.body .notification-content-textarea:hover {
  background: hsl(210, 60%, 98%);
}
@media (max-width: 685px) {
  .body .notification-content-textarea {
    height: 160px;
  }
}
@media (max-width: 375px) {
  .body .notification-content-textarea {
    padding: 10px;
    height: 130px;
    overflow: visible;
  }
}
.body .notification.unread {
  background: hsl(210, 60%, 98%);
}
.body .notification.unread .notification-content-textarea {
  background: hsl(210, 60%, 98%);
}
.body .notification.unread .notification-content-text::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: hsl(1, 90%, 64%);
}

/*# sourceMappingURL=style.css.map */
