@use 'variables'

.btn
    cursor: pointer
    border: none
    font-weight: bold
    transition: .3s

    &.formButton
        display: block
        width: 80%
        margin: 20px auto
        height: 40px
        background: variables.$primary-color
        border-radius: 15px
        font-size: 2rem
        color: variables.$text-color

        &:hover
            background: variables.$secondary-color

    &.edit , &.delete
        display: flex
        align-items: center
        justify-content: center
        width: auto
        font-size: 2rem
        padding: 5px
        background: none
        transition: .3s
        color: variables.$text-color
        border-bottom: 2px solid variables.$primary-color
        border-top: 2px solid variables.$primary-color

        &:hover
            color: variables.$primary-color
